/* ==========================================================================
   #COLORS
   ========================================================================== */

.sg-color {
  @include clearfix();
  padding: 0;
  list-style: none;

  &__item {
    float: left;
  }

  &__swatch {
    display: block;
    width: 50px;
    height: 50px;

    @each $color-name, $color in $color-palette {
      &--#{$color-name} {
        background-color: #{$color};
      }
    }
  }
}

