/* ==========================================================================
   #COLORS
   ========================================================================== */

.sg-color {
  @include clearfix();
  padding: 0;
  list-style: none;

  &__item {
    float: left;
  }

  &__swatch {
    display: block;
    padding: 6px;
    width: 80px;
    height: 80px;

    @each $color-name, $color in $color-palette {
      &--#{$color-name} {
        background-color: #{$color};
      }
    }
  }

  &__label {
    color: #fff;

    &--dark {
      color: #000;
    }
  }
}

