/* ==========================================================================
   Grid
   ========================================================================== */
.row {
  margin-bottom: 1em;
}

.doc-col {
  display: block;
  padding: 1em 0;
  color: #fff;
  text-align: center;
  background-color: $color-primary;
  border-radius: 6px;
}
