/* ==========================================================================
   Scaffolding
   ========================================================================== */

/**
 * Reset the box-sizing
 *
 * Heads up! This reset may cause conflicts with some third-party widgets.
 * For recommendations on resolving such conflicts, see
 * http://getbootstrap.com/getting-started/#third-box-sizing
 */

* {
  @include box-sizing;

  *:before,
  *:after {
    @include box-sizing;
  }
}





/**
 * Links
 */

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}
