/* ==========================================================================
   Scaffolding
   ========================================================================== */

/**
 * Reset the box-sizing
 *
 * Heads up! This reset may cause conflicts with some third-party widgets.
 * For recommendations on resolving such conflicts, see
 * http://getbootstrap.com/getting-started/#third-box-sizing
 */

* {
  @include box-sizing;

  *:before,
  *:after {
    @include box-sizing;
  }
}





/**
 * HTML
 */

html {
  font-size: 1em;
}





/**
 * Font Quality
 */

html,
input,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}





/**
 * Body
 */

body {
  color: $text-color;
  font-family: $font-family-base;
  line-height: $baseline;
}





/**
 * Links
 */

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}
