/* ==========================================================================
   #TABLES
   ========================================================================== */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  text-align: left;
}

th,
td {
  padding: 8px;
  border: 1px solid map-get($color-palette, gray);
  vertical-align: top;
}
