/* ==========================================================================
   #TEXT
   ========================================================================== */


/**
 * Headings 1–6
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $baseline 0 .5em;
  font-weight: 500;
  line-height: 1.2;
}

h5,
h6 {
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}


/**
 * Page header
 */

.page__header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;
  border-bottom: 1px solid ;
}





/**
 * Paragraph
 */

p {
  margin-bottom: $baseline;
}



/**
 * Lead body copy
 */

.lead {
  font-size: 1.2em;
}






/**
 * Quote Elements
 */

blockquote {
  margin-left: $baseline;
  font-style: italic;
  color: map-get($color-palette, gray);
}

q {

}

cite {

}





/**
 * Inline Elements
 */

strong {

}

em {

}

b {

}

i {

}

u {

}

del {

}

ins {

}

s {

}

sup {

}

sub {

}

small {

}

abbr {

}

kbd {

}

dfn {

}

mark {

}






/**
 * Code Elements
 */

code {

}

samp {

}

var {

}





/**
 * Time
 */

time {

}





/**
 * Preformatted Text
 */

pre {

}





/**
 * Hr
 */

hr {
  height: 1px;
  margin: $baseline 0;
  background-color: map-get($color-palette, gray);
  border: 0;
}












